<section>

  <% if plans.any? %>
    <h2>Plans</h2>

    <% plans.each_slice(2) do |plan_a, plan_b| %>
    <div class="row">
      <%= render("agencies/plan", agency: current_user.agency, plan: plan_a) %>
      <%= render("agencies/plan", agency: current_user.agency, plan: plan_b) unless plan_b.nil? %>
    </div>
    <% end %>
  <% end %>

</section>
