<div>
  <h1>
    <%= @agency.name %>
  </h1>
  <hr>
  <div style="min-height:100px;">
    <%= @agency.pitch %>
  </div>
  <hr>
  <div>
    <%= link_to "Contact Us", new_agency_message_path(@agency), class: "btn btn-primary" %>
  </div>
</div>
