<div class="container" style="margin-top: 40px">
  <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
  <stripe-pricing-table
    pricing-table-id="prctbl_1NYawnFg1clPMOuGNm09jWlq"
    publishable-key="pk_test_51NMHtFFg1clPMOuGMvMPRMi6KIt4K6CrDthmQU4r1btC1dpcSrwid4TEZkttdBg5h4dYbahSPxXxj2APQUrpspRM00ZUhomOYN"
    client-reference-id="<%= current_user.stripe_reference_id %>"
    >
  </stripe-pricing-table>
</div>