<div>
  <h2>Latest Sales</h2>
  <div>
    <% if @sales.any? %>
      <div class="row">
        <div class="col-md-3">
          Plan
        </div>
        <div class="col-md-3" style="text-align: right">
          Price
        </div>
        <div class="col-md-3">
          User
        </div>
      </div>
      <% @sales.each do |sale| %>
        <div class="row">
          <div class="col-md-3">
            <%= sale.plan.title %>
          </div>
          <div class="col-md-3" style="text-align: right">
            <%= number_to_currency(sale.plan.price) %>
          </div>
          <div class="col-md-3">
            <%= sale.user.name %>
          </div>
        </div>
      <% end %>
    <% else %>
      <h3>You haven't made any sales yet</h3>
    <% end %>
  </div>
  <hr>
  <div>
    <div class="row">
      <div class="col-md-9">
        <%= link_to "View All", "", class: "btn btn-success" %>
    </div>
    </div>
  </div>
</div>
