<div class="container" style="min-height: 500px;">
  <h1 class="text-center mb-4">
    Owner's Dashboard
  </h1>
  <hr>
  <div>
    <div style="background-color: #e3f2fd; padding: 20px; border: 5px solid #ccc; border-radius: 8px;">
      <h2>Messages</h2> <br>
      <div class="container-SMS" style="background-color: #daf7fc; padding: 20px; border: 1px solid #ccc; border-radius: 8px;">
        <% @messages.each do |user, messages| %>
          <div class="mb-3">
            <b>
              <%= user.name %> (<%= user.email %>)
            </b>
          </div>
          <div>
            <% messages.each do |message| %>
              <div class="message-container">
                <div class="message-content">
                  <%= message.content %>
                </div>
                <div class="message-info">
                  <i>Received: <%= message.created_at %>.</i>
                </div>
              </div>
            <% end %>
          </div>
          <hr style="border-color: #ccc;">
        <% end %>
      </div>
    </div>
  </div>
</div>


