<div class="container">
  <h1 class="text-center mb-4">
    Owner's Dashboard
  </h1>

  <section>
    <%= render "sales" %>
  </section>

  <div style="min-height:80px"> </div>

  <section>
    <%= render "plans" %>
  </section>

  <div style="min-height:80px"> </div>

  <%= render "messages" %>
</div>


