<p style="color: green"><%= notice %></p>

<h1>Plans</h1>

<div id="plans">
  <% @plans.each do |plan| %>
    <%= render plan %>
    <p>
      <%= link_to "Show this plan", [@agency, plan] %>
    </p>
  <% end %>
</div>

<%= link_to "New plan", new_agency_plan_path(@agency) %>
